<!DOCTYPE html>
<html>
<head>
  <Link rel = "stylesheet" href="test.css">
    
</head>
<body>
  <h1>GB_other</h1>
  <p>年号は何？</p>
<button class="btn">押して</button><br><br>
<button class="btn2">II</button><br><br>
<form>
  <input>iii</input>
</form><br>
  <audio src="20220403.mp3" controls>
  <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
  </audio>
  <br>
    <table class="mission" border="2" >
    <tr>
      <th>企画名</th>
      <th>コスト</th>
      <th>人員</th>
    </tr>
    <tr>
      <td>10%セール</td>
      <td>1,000,000円</td>
      <td>10人</td>
    </tr>
  </table>
  <br>
    <img src= "/Users/yukihiroikeda/Desktop/desktop_自習まとめディレクトリ/1/IMG_9408.jpeg"width="50px" height="50px">
  <script src = "test.js"></script>
  <table>
    <tr>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
    <tr>
  </table>
</body>
</html>
